<section class="row row-header">
    <div class="col-md-8 flex">
        <img src="img/logo.png"/>
        <ul class="menu-top">
            <li><a href="#">Catalogue</a></li>
            <li><a href="#">Votre projet</a></li>
            <li><a href="#">Magasins</a></li>
            <li><a href="#">Rendez-vous</a></li>
        </ul>
    </div>
    <div class="col-md-4 flex">
        <div class="group-search-input">
            <input type="text">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Recherche</label>
        </div>
        <div class="pro">
            <a href="#" class="ripple myButton">Ridchardson pro</a>
        </div>
    </div>
</section>