.myButton {
  display: inline-block;
  padding: 20px;
  color: $color1;
  cursor: pointer;
  letter-spacing: 0.7px;
  user-select: none;
  transition: box-shadow .4s;
  box-shadow: 0px 1px 4px transparent;
  margin: 20px;
  font-size: 15px;

  &:hover {
    box-shadow: 0px 1px 4px rgba(0,0,0,0.8);
    text-decoration: none;
  }

  &:active {
    transition: .2s;
    box-shadow: 0px 1px 4px transparent;
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}